.table-wrapped {
    padding: 8px;
    height: calc(100vh - 70px);
    display: flex;
    background: #f5f5f5;
    flex-direction: column;
    justify-content: space-between;
  
    .table-top {
      .table-header {
        display: flex;
        padding: 0 24px;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        background: #fff;
      }
    }
  
    .table-footer {
      display: flex;
      justify-content: flex-end; // 结尾对齐
    }
  }